<form class="form_container" action='/sessions' method="POST">
    <div class="form_entries">
      <label class="label-container">Email</label>
      <input class="input-container" type="text" name="user[email]">
    </div>
    <div class="form_entries">
      <label class="label-container">Password</label>
      <input class="input-container" type="password" name="user[password]">
    </div>
    <div class="submit-button">
      <input type="submit" name="Log-in"></br></br>
    </div>
</form>
