<div>
  <h1>Log - in</h1>

  <form action='/sessions' method="POST">
    <label>Email</label>
    <input type="text" name="user[email]"></br></br>
    <label>Password</label>
    <input type="password" name="user[password]"></br></br>
