html {
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  width: 100%;
  font-size: 95%
  vertical-align: center;
}

header {
  background-color: #002800;
  color: #fdfdf7 ;
  height: 52px;
  width: 100%;
}

.header_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.header_list {
  display: inline-block;
  text-align: center;
  padding: 16px;

}

.header_link {
  text-decoration: none;
}
/* QUESTION: is there a more efficient way to style the header links? */;
/* unvisited link */
.header_link:link {
    color: #fdfdf7;
}

/* visited link */
.header_link:visited {
    color: #fdfdf7;
}

/* selected link */
.header_link:active {
    color: #fdfdf7;
}

/*get this to WORK!!!!!!*/
.header_list:hover {
  background-color: #003c00;
  color: #c8c8b8;
}

#logout {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  background-color: #002800;
  border: #002800;
}




