/*These are the table that holds the hidden places*/

.tab_content {
  padding-top: 10%;
}

.display-table {
  padding-top: 10%;
}

.display-table th {
  text-align: center;
  background-color: #002800;
  color: #ffffff;
/*  padding-top: 5%;*/
}

.category_container {
  padding: 20px;
  width: 25%;
  text-align: center
}

.information_container {
  padding: 20px;
  width: 58%;
}

.country_container {
  padding: 20px;
  width: 20%;
  text-align: center
}

.title {
  font-weight: bold;
}

.table-content {
  border-top: #d3d3d3 0.5px solid;
}
