/*.header_picture {

}

.header_picture img {
  width: 30%;
  height: auto;
  padding: 0, 10px, 0, 10px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}*/

.tab_content {
  display: none;
  /*position: relative;*/
}

.tab_container {
  position: relative;
}

.index_tabs {
    float: left;
    border-bottom: 1.5px solid #002800;
    width: 100%;
    margin-bottom: 16px;
    list-style: none;
    left: 50%;
}
.index_tabs li {
    float: left;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
}
.index_tabs li a {
    color: #002800;
    text-decoration: none;
}

.index_tabs li.active {
    border: 1.5px solid #002800;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
}

.index_tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}

