<script type="text/javascript" src="/js/index_page.js"></script>

<div class="container">
  <div class="header_picture">
    <img src="images/IMG_5100.JPG" alt="beautiful view">
  </div>

  <h1>Hidden Places</h1>

  <h2>Get travel insides for your next holiday</h2>

  <ul class="index_tabs">
    <li class="active"><a href="#hidden_spot">Find a hidden spot</a></li>
    <li><a href="#register">Register</a></li>
  </ul>


  <div class="tab_content" id="hidden_spot">
    <p>SEARCH FOR</p>
  </div>

  <div class="tab_content" id="register">
<!--     <a href='/users/new'>Register</a>
    <div id="register_container"</div> -->
  </div>

</div>


