<!DOCTYPE html>
<html>
<head>
   <title>Google Place Auto-complete</title>
</head>
<body>

<form >

                  <input id="user_input_autocomplete_address" name="user_input_autocomplete_address"
                         class="form-control" placeholder="Start typing your address...">



   </form>


    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAuOj_MfmbdnkPUauBczm5lKaVkRfmxY5c"></script>

    <!-- Custom JS code to bind to Autocomplete API -->
    <script type="text/javascript" src="text.js"></script>
</body>
</html>
